# exclude .gitignore and similar from the generated tarball
.git*         export-ignore
build/        export-ignore
dist/         export-ignore
tests/        export-ignore
.github/      export-ignore
AGENTS*       export-ignore
SPEC*         export-ignore